h2{
    color: green;
}
.carta{
    background-color: yellow;

  &_img{
    width: 300px;
    height: 500px;
}
}
@mixin tamaños ($width, $height){
  height: $height;
  width: $width;
}
.carta{
  @include tamaños(300px,400px);
}
  
