body{
    margin: 0;
    background-image: url(../imagenes/fondos-especiales/fondo\ 4.webp);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(51, 255, 0, 0.753);
    min-height: 70px;
    width: 100%;
    align-items: center;
    padding: 12px;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
    font-family: fantasy;
    font-size: larger;
    font-weight: 600;
}
nav a:hover{
    color: rgb(245, 12, 233);
}
.door{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right:  110px;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
}
main{
    display: flex;
    align-items: center;
}
h1{
    align-items: center;
}