ul{
    position: relative;
    list-style-type: none;
}

li{
    margin: 0 1rem;
}
nav{
    padding: 2rem;
    background-color: rgba(0, 255, 42, 0.829);
}
body{
    background-image: url(../Assets/Productos/background.jpg);
}
.Mayor{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    position: absolute;
    top: 2rem;
    height: 60px;
}
.Nave{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Alien{
    width: 10%;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgba(64, 235, 12, 0.486);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-area: 1fr 2fr;
    width: 300px;
    height: 400px;
}
.Alien img{
    width: 200px;
    height: 300px;
}
@media (max-width: 100px){
    .Nave{
        flex-direction: column;
}
    .Alien{
        flex-basis: 100%;
    }
}